[submodule "hunspell-vi-git"]
	path = hunspell-vi-git
	url = ssh://aur@aur.archlinux.org/hunspell-vi-git.git
	branch = master
[submodule "libreoffice-extension-vietnamese-spellchecker-git"]
	path = libreoffice-extension-vietnamese-spellchecker-git
	url = ssh://aur@aur.archlinux.org/libreoffice-extension-vietnamese-spellchecker-git.git
	branch = master
[submodule "qtcreator-spellchecker-plugin-git"]
	path = qtcreator-spellchecker-plugin-git
	url = ssh://aur@aur.archlinux.org/qtcreator-spellchecker-plugin-git.git
	branch = master
[submodule "qtcreator-spellchecker-plugin-bin"]
	path = qtcreator-spellchecker-plugin-bin
	url = ssh://aur@aur.archlinux.org/qtcreator-spellchecker-plugin-bin.git
	branch = master
[submodule "qtcreator-spellchecker-plugin"]
	path = qtcreator-spellchecker-plugin
	url = ssh://aur@aur.archlinux.org/qtcreator-spellchecker-plugin.git
	branch = master
[submodule "headsetkontrol"]
	path = headsetkontrol
	url = ssh://aur@aur.archlinux.org/headsetkontrol.git
	branch = master
[submodule "koboldcpp"]
	path = koboldcpp
	url = ssh://aur@aur.archlinux.org/koboldcpp.git
	branch = master
[submodule "koboldcpp-portable"]
	path = koboldcpp-portable
	url = ssh://aur@aur.archlinux.org/koboldcpp-portable.git
	branch = master
[submodule "koboldcpp-cuda"]
	path = koboldcpp-cuda
	url = ssh://aur@aur.archlinux.org/koboldcpp-cuda.git
	branch = master
[submodule "koboldcpp-cuda-portable"]
	path = koboldcpp-cuda-portable
	url = ssh://aur@aur.archlinux.org/koboldcpp-cuda-portable.git
	branch = master
[submodule "koboldcpp-hipblas"]
	path = koboldcpp-hipblas
	url = ssh://aur@aur.archlinux.org/koboldcpp-hipblas.git
	branch = master
[submodule "reflex-lexer"]
	path = reflex-lexer
	url = ssh://aur@aur.archlinux.org/reflex-lexer.git
	branch = master
[submodule "videoduplicatefinder-git"]
	path = videoduplicatefinder-git
	url = ssh://aur@aur.archlinux.org/videoduplicatefinder-git.git
	branch = master
[submodule "qtcreator-discord-rich-presence-plugin"]
	path = qtcreator-discord-rich-presence-plugin
	url = ssh://aur@aur.archlinux.org/qtcreator-discord-rich-presence-plugin.git
	branch = master
[submodule "koboldcpp-hipblas-portable"]
	path = koboldcpp-hipblas-portable
	url = ssh://aur@aur.archlinux.org/koboldcpp-hipblas-portable
[submodule "obs-urlsource"]
	path = obs-urlsource
	url = ssh://aur@aur.archlinux.org/obs-urlsource.git
[submodule "qtcreator-qodeassist-plugin-bin"]
	path = qtcreator-qodeassist-plugin-bin
	url = ssh://aur@aur.archlinux.org/qtcreator-qodeassist-plugin-bin.git
[submodule "qtcreator-qodeassist-plugin-git"]
	path = qtcreator-qodeassist-plugin-git
	url = ssh://aur@aur.archlinux.org/qtcreator-qodeassist-plugin-git.git
[submodule "qtcreator-qodeassist-plugin"]
	path = qtcreator-qodeassist-plugin
	url = ssh://aur@aur.archlinux.org/qtcreator-qodeassist-plugin.git
[submodule "cuda-boost-bypass"]
	path = cuda-boost-bypass
	url = ssh://aur@aur.archlinux.org/cuda-boost-bypass.git
[submodule "headsetcontrol-git"]
	path = headsetcontrol-git
	url = ssh://aur@aur.archlinux.org/headsetcontrol-git.git
[submodule "fish-tide"]
	path = fish-tide
	url = ssh://aur@aur.archlinux.org/fish-tide.git
